*.la
*.lo
*.o
.deps/
.libs/
__pycache__/
m4/
Makefile
Makefile.in
VERSION
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
packaging/pkgconfig/quickxorhash.pc
packaging/rpm/quickxorhash.spec
stamp-h1
quickxorhash
